<div class="container">
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-card class="my-card">
                <button mat-button (click)="goToSteam()">
                    <mat-card-header>
                        <mat-card-title> Please Login </mat-card-title>
                        <mat-card-subtitle>
                            It is neccesary to have a steam account.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Click to redirecto to Steam</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Login</button>
                    </mat-card-actions>
                </button>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
